node_modules

# Ignore environment variable files
.env
.env.local
.env.*.local
.env.development*
.env.test*

# Ignore logger files
logs.neon_local/

# Ignore build files
dist

# Ignore Coverage directory
coverage